

    <tr>
      <td><%=h report_index.sent_at %></td>
      <td><%=h report_index.broke_sites %></td>
      <td><%=h report_index.body %></td>
      <td<%= link_to "Destroy", report_index, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
